// ## Colors

// ### Primary
// This is the middle cards and buttons color 
$gradient:linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
// linear-gradient(#e66465, #9198e5)

// ### Neutral

$very_light_blue: hsl(240, 78%, 98%);
$light_blue: hsl(234, 14%, 74%);
$grayish_blue: hsl(233, 13%, 49%);
$dark_blue: hsl(232, 13%, 33%);
