@media only screen and (min-width:300px){
    .header{
        padding-top: 2.5rem;
        padding-bottom: 5rem;
        text-align: center;
        &__heading{
            color: $grayish_blue;
            margin-bottom: 1.5rem;
        }
        &__text{
            color: $light_blue;
        }
        .switch{
            display: inline-block;
            width: 50px;
            height: 25px;
            background: $gradient;
            border-radius: 2rem;
            margin: 0 1.225rem;
            position: relative;
            cursor: pointer;
            &::before{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: white;
                left: 2px;
                top: 2px;
                transition: all 150ms;
            }
            &:hover,&:focus,&:active{
                opacity: 0.7;
            }
            &__wrap{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .switch__checkbox{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        pointer-events: none;
        &:focus ~ .header{
            .switch{
                opacity: 0.7;
            }
        }
    }
    .switch__checkbox:checked ~ .header{
        .switch{
            &::before{
                transform: translateX(25px)
            }
        }
    }
    .switch__checkbox:checked ~ .card__wrap{
        .card__price--hidden{
            display: inline-block;
        }
    }
}